# Standard Java/Maven ignores
target/
*.log
*.iml
.idea/
.project
.classpath
.settings/
bin/
out/

# Ensure Maven Wrapper files are tracked (do NOT ignore these)
!mvnw
!mvnw.cmd
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
.file_activity_report.json
